In [1]:
# 1.Importing all the required python libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas as pd
#2 URL of the web site)
csv_url = 'https://www.kaggle.com'

# 3 Load the Dataset into pandas dataframe.
weather = pd.read_csv("weatherAUS.csv")
weather.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,5/18/2009,Hobart,5.1,14.3,0.0,1.8,8.9,NW,30.0,WSW,...,47.0,1023.1,1022.2,1.0,1.0,9.1,13.3,No,0.0,No
1,7/3/2009,Launceston,1.1,14.5,0.4,NaN,NaN,SSW,50.0,E,...,46.0,1001.5,1002.4,NaN,NaN,1.3,13.7,No,0.0,No
2,2/18/2010,Williamtown,19.7,26.2,0.0,7.2,7.2,SSE,41.0,SSE,...,50.0,1020.9,1021.9,6.0,4.0,22.7,24.4,No,0.2,No
3,3/4/2010,PerthAirport,16.6,28.0,0.0,9.0,11.3,SW,54.0,SSE,...,41.0,1018.3,1014.9,6.0,1.0,20.0,26.1,No,0.0,No
4,9/9/2010,GoldCoast,14.6,25.3,0.0,NaN,NaN,NNW,43.0,WNW,...,67.0,1020.3,1015.0,NaN,NaN,22.2,22.6,No,0.4,No

In [3]:
#4 check for missing values in the data using pandas isnull()

weather.isnull()

In [4]:
weather = weather.fillna(value=0)
weather

In [5]:
# 4 pandas describe()

#weather.describe

weather.describe(include='all')

In [6]:
#4 Check the dimensions of the data frame.
weather.shape

In [7]:
#4 checking null values and adding them
weather.isnull().sum()

In [8]:
weather.isnull().sum().sum()

In [9]:
#5 checking datatype of variable 
weather.dtypes

In [10]:
# 5 Changing data type of column
mean_value=weather['Rainfall'].mean()
weather['Rainfall'].fillna(value=mean_value,inplace=True)
weather['Rainfall']=weather['Rainfall'].astype(float)
weather.dtypes

In [11]:
# 6 Converting categorical variables into quantitative variables
weather['Location'].replace({'Hobart':1,'Launceston':2,'Williamtown':3},inplace=True)
weather.head(3)